@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

main {
  background-color: #000;
}

.container {
  @apply max-w-7xl mx-auto px-4 flex items-center justify-between h-full
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.08em;
  letter-spacing: -1.5px;
  margin-left: -2px;
  text-transform: uppercase;
  max-width: 240px;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .12em;
  margin-bottom: .75rem;
}

svg, button, a {
  cursor: pointer;
}

.nav-link {
		transition: font-size 0.3s ease-in-out;
		font-weight: 300;
		color: #fff;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		text-align: center;
	cursor: pointer;
}


